<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li routerLink="/home"><a>Home</a></li>
        <li routerLink="/list"><a>Recetas</a></li>
        <li onclick="addRecipeModal.showModal()"><a>Añadir</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">daisyUI</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li routerLink="/home"><a>Home</a></li>
      <li routerLink="/list"><a>Recetas</a></li>
      <li onclick="addRecipeModal.showModal()"><a>Añadir</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <div routerLink="/profile" tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
      <div class="w-10 rounded-full">
        <img alt="Tailwind CSS Navbar component"
          src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
      </div>
    </div>
  </div>

  <dialog id="addRecipeModal" class="modal">
    <div class="modal-box flex flex-col items-center">
      <h3 class="font-bold text-lg">Añadir nueva receta</h3>
      <div class="modal-action">
        <form [formGroup]="addRecipe" method="dialog">
          <div class="flex flex-col">
            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text">Receta</span>
              </div>
              <input placeholder="Introduzca el nombre" formControlName="recipeName" type="text"
                class="input input-bordered input-primary w-full max-w-xs" />
            </label>
          </div>
          <div class="flex flex-col">
            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text">Dificultad</span>
              </div>
              <input formControlName="recipeDifficulty" placeholder="Entre 1 y 10" min="1" max="10" type="number"
                class="input input-bordered input-primary w-full max-w-xs" />
            </label>
          </div>

          <div class="flex flex-col">
            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text">Estrellas</span>
              </div>
              <input formControlName="recipeStars" placeholder="Entre 1 y 5" min="1" max="5" type="number"
                class="input input-bordered input-primary w-full max-w-xs" />
            </label>
          </div>

          <div class="p-3 flex gap-2">
            <button class="btn">Cancelar</button>
            <button (click)="submit()" class="btn" type="submit" [disabled]="addRecipe.invalid">Añadir</button>
          </div>
        </form>
      </div>
    </div>
  </dialog>

</div>
