<div class="card w-48 bg-base-100 shadow-xl">
  <figure class="rounded"><img [src]="recipe.image" alt="Shoes" /></figure>

  <div class="rating absolute right-2 top-2 bg-white p-1 rounded">
    @switch (recipe.stars) {
    @case (1) {
    <input disabled="readonly" type="radio" name="rating-1" class="w-4 mask mask-star-2 bg-orange-400" />
    }
    @case (2) {
    <input disabled type="radio" name="rating-1" class="w-4 mask mask-star-2 bg-orange-400" />
    <input disabled type="radio" name="rating-2" class="w-4 mask mask-star-2 bg-orange-400" />
    }
    @case (3) {
    <input disabled type="radio" name="rating-1" class="w-4 mask mask-star-2 bg-orange-400" />
    <input disabled type="radio" name="rating-2" class="w-4 mask mask-star-2 bg-orange-400" />
    <input disabled type="radio" name="rating-3" class="w-4 mask mask-star-2 bg-orange-400" />
    }
    @case (4) {
    <input disabled type="radio" name="rating-1" class="w-4 mask mask-star-2 bg-orange-400" />
    <input disabled type="radio" name="rating-2" class="w-4 mask mask-star-2 bg-orange-400" />
    <input disabled type="radio" name="rating-3" class="w-4 mask mask-star-2 bg-orange-400" />
    <input disabled type="radio" name="rating-4" class="w-4 mask mask-star-2 bg-orange-400" />
    }
    @case (5) {
    <input disabled type="radio" name="rating-1" class="w-4 mask mask-star-2 bg-orange-400" />
    <input disabled type="radio" name="rating-2" class="w-4 mask mask-star-2 bg-orange-400" />
    <input disabled type="radio" name="rating-3" class="w-4 mask mask-star-2 bg-orange-400" />
    <input disabled type="radio" name="rating-4" class="w-4 mask mask-star-2 bg-orange-400" />
    <input disabled type="radio" name="rating-5" class="w-4 mask mask-star-2 bg-orange-400" />
    }
    }


  </div>

  <div class="radial-progress absolute left-2 top-2 bg-white text-[#fc7035]"
    [style]="'--value:' +  (recipe.difficulty | multiplyDifficulty) + '; --size: 3rem;'" role="progressbar">
    {{ recipe.difficulty | multiplyDifficulty }}%</div>

  <div class="card-body absolute bg-white rounded bottom-0 w-full p-1">
    <h3 class="card-title justify-center">
      {{ recipe.name }}
    </h3>
  </div>
</div>
